<!DOCTYPE html>

<html lang="en">

<head>

    <title>Home</title>

</head>

<body>

<% for (const val of data) { %>

    <h3><%= val.title %></h3>

    <p><%= val.content %></p>

    <br>

<% } %>

</body>

</html>